{% extends 'base.html' %}
{% block title %}
    CIS| BetaProgram
{% endblock %}
{% block content %}
    <h3>Welcome , {{ request.user }}</h3>
    <div class="container-fluid">
        <canvas id="humidCharts"></canvas>
    </div>



    <script>
        $(document).ready(function () {
            setInterval( function () {

                $.ajax({
                    type: 'GET',
                    url: '{% url 'dash_getHumidData' %}',
                    success: function(data){
                })
            },10000)

        });
    </script>
{% endblock %}

